<html>

  <head>
    <title>
      Assurance Barometer
    </title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400' rel='stylesheet' type='text/css'>
    <script src="jquery.min.js"></script>
    <script src='jquery.tablesorter.min.js'></script>
    <script src='jquery.metadata.js'></script>
    <script src='tooltip123.js'></script>
    <script src='app.js'></script>
    <link href='styles.css' rel="stylesheet" type='text/css'>
  </head>
  <body>
    <%= yield %> 
  </body>
</html>